#chat-screen {
  background-color: #a6dfb4;
  height: 100vh;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  margin-top: 15px;
}

.message_chat {
  display: flex;
  justify-content: flex-start;
}

.main-chat {
  display: flex;
  justify-content: center;
}
.chat__timestamp {
  position: absolute;
  display: flex;
  top: 100px;
  text-align: center;
  font-size: 14px;
  opacity: 0.8;
  background-color: #92a4b2;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  margin-bottom: 25px;
}
@keyframes appearBubble {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row {
  width: 100%;
  display: flex;
  animation: appearBubble 1s ease-in-out forwards;
  opacity: 0;
}

.message-row:nth-child(2) {
  position: absolute;
  top: 170px;
  animation-delay: 0.7s;
}

.message-row:nth-child(3) {
  position: absolute;
  top: 280px;
  animation-delay: 2s;
}

.message-row:nth-child(4) {
  position: absolute;
  top: 350px;
  animation-delay: 3s;
}

.chat_img {
  border-radius: 15px;
  width: 50px;
  height: 50px;
  margin-left: 22px;
  background-color: #bdc5fc;
}

.img_back{
  border-radius: 30px;
  width: 73px;
  height: 73px;
  background-color: #bdc5fc;
  margin-right: 19px;
}

.message__author {
  opacity: 0.8;
  font-size: 20px;
  margin-left: 9px;
  margin-bottom: 6px;
  display: block;
  margin-bottom: 5px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__info:last-child {
  padding: 0px 20px;
}

.message__bubble {
  background-color: white;
  font-size: 20px;
  padding: 13px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__time {
  opacity: 0.8;
  font-size: 13px;
  margin: 0px 10px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: yellow;
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
}

.message_chat_last {
  position: absolute;
  top: 350px;
  left: 0px;
  display: flex;
  flex-direction: row;
}

.last {
  position: absolute;
  top: 450px;
}

.me-first {
  position: absolute;
  top: 30px;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  box-sizing: border-box;
  align-items: center;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -3px;
  top: 2px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 10px;
}

.reply__column button {
  background-color: yellow;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column:last-child button:focus,
.reply__column:last-child button:active {
  outline: none;
}

.reply i {
  opacity: 0.5;
}

.reply__column button i {
  opacity: 1;
}

.user-component {
  margin: 6px 0px;
}
