#chat-screen {
  background-color: #abc1d1;
  height: 1000vh;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.main-chat {
  display: flex;
  justify-content: center;
}
.chat__timestamp {
  position: absolute;
  display: flex;
  top: 100px;
  text-align: center;
  font-size: 14px;
  opacity: 0.8;
  background-color: #92a4b2;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
}

.message-row:nth-child(2) {
  position: absolute;
  top: 150px;
}

.message-row:nth-child(3) {
  position: absolute;
  top: 250px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0px 10px 0px 20px;
}

.message__author {
  opacity: 0.8;
  font-size: 20px;
  margin-bottom: 5px;
  display: block;
  margin-bottom: 5px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__info:last-child {
  padding: 0px 20px;
}

.message__bubble {
  background-color: white;
  font-size: 20px;
  padding: 13px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__time {
  opacity: 0.8;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: yellow;
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  box-sizing: border-box;
  align-items: center;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -3px;
  top: 2px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 10px;
}

.reply__column button {
  background-color: yellow;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column:last-child button:focus,
.reply__column:last-child button:active {
  outline: none;
}

.reply i {
  opacity: 0.5;
}

.reply__column button i {
  opacity: 1;
}
