#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: -15px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}
.fa-chevron-right {
  margin: 5px;
}

.friends-screen {
  padding: 0px 25px;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: 1px solid rgb(0, 0, 0, 0.2);
  padding-top: 15px;
}

.friends-screen_channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: yellow;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 122px;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 2s;
}
