.more-screen .icon-row {
  margin-top: 30px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 40px;
}

.more-suggestions__title {
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
}

.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: yellow;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon-image i {
  font-size: 32px;
  color: white;
}
