.user-component {
  border: solid 1px green;
  justify-content: space-between;
}

.friends-screen__human .user-component {
  margin: 15px 0px;
}

.user-component__column {
  border: solid 1px black;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__title {
  font-size: 22px;
  font-weight: 600;
  color: black;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__subtitle {
  margin-top: 5px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}

.user-component__music-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: var(--main-color) 4px solid;
  border-radius: 25px;
  color: black;
  font-size: 16px;
}
